{% extends 'base.html' %}


{% block title %}
    Home page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>YouTube Downloader</h1>
                <p>
                    Enter a YouTube URL to download it as an .mp4 file.
                </p>

                <form action="/download" method="POST">
                    <input class="form-control" type="text" name="url"/>
                    <button class="btn btn-primary btn-block" type="submit">Download!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
